<p id="notice"><%= notice %></p>

<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                Фильтр
              </a>
            </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse">
      <div class="panel-body">
        <%= render 'search'%>
      </div>
    </div>
  </div>
</div>

<%= link_to 'Экспортировать в CSV', auctions_path(format: "csv") %>

<table class="table table-striped">
  <thead>
    <tr>
      <td>ИТОГО:</td>
      <td><%= @auctions.map(&:nmc).sum %></td>
    </tr>
    <tr>
      <td>Количество процедур:</td>
      <td><%= @auctions.count %></td>
    </tr>
    <tr>
      <td>Сумарная экономия:</td>
      <% a = Array.new(@auctions.map(&:nmc).size) do |i| %>
        <% @auctions.map(&:nmc)[i] - @auctions.map(&:price)[i] %>
      <% end %>
      <td><%= a.sum %></td>
    </tr>
    <tr>
      <td>Средний % экономии:</td>
      <% b = Array.new(a.size) do |j| %>
        <% a[j] * 100 / @auctions.map(&:nmc)[j] %>
      <% end %>
      <td><%= (b.inject(0) { |sum, x| sum += x } / b.size.to_f).round 2 %></td>
    </tr>
    <tr>
      <th><%= t('auctions.ffeature') %></th>
      <th><%= t('auctions.customer') %> </th>
      <th><%= t('auctions.subject') %> </th>
      <th><%= t('auctions.nmc') %> </th>
      <th><%= t('auctions.category') %> </th>
      <th><%= t('auctions.notice_number') %> </th>
      <th><%= t('auctions.object') %> </th>
      <th><%= t('auctions.public_date') %> </th>
      <th><%= t('auctions.end_date_time') %> </th>
      <th><%= t('auctions.first_consideration_date') %> </th>
      <th><%= t('auctions.realization_date') %> </th>
      <th><%= t('auctions.second_consideration_date') %> </th>
      <th><%= t('auctions.demand_quantity') %> </th>
      <th><%= t('auctions.demand_withdrawal_quantity') %> </th>
      <th><%= t('auctions.urz') %> </th>
      <th><%= t('auctions.participants') %> </th>
      <th><%= t('auctions.winner') %> </th>
      <th><%= t('auctions.price') %> </th>
      <th> Экономия в руб. </th>
      <th> Экономия в % </th>
      <th><%= t('auctions.result') %> </th>
      <th><%= t('auctions.reason') %> </th>
      <th><%= t('auctions.competition_regulator') %> </th>
      <th><%= t('auctions.performer_name') %> </th>
      <th><%= t('auctions.customer_category') %> </th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

    <% @auctions.each do |auction| %>
      <tr>
        <%=simple_form_for auction do |f| %>
          <td><%= f.input :ffeature, as: :select, collection: Feature.all, include_blank: true, label: false, :selected => Auction.get_id(auction), input_html: {multiple: true,class: 'chosen-input', data: { placeholder: t('auctions.ffeature') }} %>
          <br>
         <%= f.submit 'Сохранить' %></td>
        <% end %>

        <td><%= auction.customer %></td>
        <td><%= auction.subject %></td>
        <td><%= auction.nmc %></td>
        <td><%= auction.category %></td>
        <td><%= auction.notice_number %></td>
        <td><%= auction.object %></td>
        <td><%= auction.public_date %></td>
        <td><%= auction.end_date_time %></td>
        <td><%= auction.first_consideration_date %></td>
        <td><%= auction.realization_date %></td>
        <td><%= auction.second_consideration_date %></td>
        <td><%= auction.demand_quantity %></td>
        <td><%= auction.demand_withdrawal_quantity %></td>
        <td><%= auction.urz %></td>
        <td><%= auction.participants %></td>
        <td><%= auction.winner %></td>
        <td><%= auction.price %></td>
        <td><%= auction.nmc - auction.price %></td>
        <td><%= ((auction.nmc - auction.price)*100/auction.nmc).round 2 %></td>
        <td><%= auction.result %></td>
        <td><%= auction.reason %></td>
        <td><%= auction.competition_regulator %></td>
        <td><%= auction.performer_name %></td>
        <td><%= auction.customer_category %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% unless @auctions.empty? %>
  <%= will_paginate %>
<% end %>

<br>
