<!DOCTYPE html>
<html>
<head>
  <title>Tender</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'shared/header' %>
  <div class="page-wrapper">
  	<%= yield %>
  	<div class="page-buffer"></div>
  </div>
  <%= render 'shared/footer' %>

</body>
</html>
